/* this is the start of common css */
*{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1300px !important;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0px;
    font-weight: 300;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
ul,ol{
    margin: 0 !important;
    padding: 0 !important;
}
li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
a{
    font-family: 'Roboto Condensed', sans-serif;
}
a,a:focus,a:hover{
    text-decoration: none;
}
.lay{
    background: rgba(0, 0, 0,0.7);
    padding: 30px 0 70px 0;
}
/* ------------- */

/* start of video-list */
.vid-measure {
    padding-top: 14px;
}
/*---------------------- */

/*  start of  video-list-item-component*/
.list-image {
    width: 100%;
    height: 100px;
    margin: 0px 0px 0px 0px;
}

.list-group-item {
    border: none !important;
    margin-bottom: 10px;
    cursor: pointer;
}

.heading-wrap {
    margin: 0 0 4px 0;
    font-size: 1.4rem;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.list-heading {
    font-weight: bold;
    font-size: 14px;
}
/* --------- */

/* Start of Top-navbar component */
.icon {
    width: 80%;
    height: 59px;
}
.search {
    margin: 10px 0px 15px 0px;
    text-align: center;
}
.search-box {
    width: 75%;
    padding: 4px 10px 4px 10px;
    border: 1px solid rgba(157, 140, 140, 0.425);

    box-shadow: -1px -1px 376px -55px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 376px -55px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 376px -55px rgba(0,0,0,0.75);
    font-weight: 400;
}
.search-btn {
    border: 1px solid #d7b4b4;
    background-color: #fff;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    height: 34px;
    width: 64px;
    margin: 0;
}

.search-box:focus {
    outline: none;
}
/* ------------ */

/* Start of video-detail component */
.video {
    margin-top: 15px;
}

.details {
    padding:0px 0 0 0;
}

.details h6 {
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 5px;
    margin-top: 15px;
}
/* ---------------- */